$background_grey: #292929; // Changed from #252525 so, if it's too bright change it back
$highlight_black: #121212;
$highlight: #AE0000;
$text_color: #7c838c;

/* Background should be a lighter color than the head bars are */
body {
    background-color: $background_grey;
    margin: 0px;
}

li {
    list-style-type: none;
}

/* For the fixed menu bar. Makes it static too */
.headbar {
    position: fixed;
    width: 100%;
    height: 5vh;
}

/* Mostly used with header bars, but its a pretty open class */
.highlight_black {
    background-color: $highlight_black;
}

/* Font for emphasis or titles, not body */
.headerFont{
    font-family: 'Fira Mono';
    font-size: 1.5vh;
    color: $text_color;
}

/* Highlights certain header stuff based on the user's location in the webpage and whether or not I want it to */
.highlightHeader {
    color: $highlight;
}

/* Logo Skin */
.logoFont {
    position: absolute;
    left: 3.5vh;
    top: -1vh;

    font-family: 'Fira Mono';
    font-size: 2.25vh;
    color: $highlight;
}

/* Pic of logo in front of text */
.logoPic {
    position: absolute;
    height:4vh;
    top: .5vh;
    left: .5vh;
}

/* Container for the Logo to get the positioning right */
.logoContainer {
    position: absolute;
    width: 30vh;
}

/* Menu items position */
.menuOption {
    position:relative;
    float: left;
    margin-right: 2.2vw;
}

/* Container for the menu options to put them in the correct place without destroying their float values */
.menuContainer {
    position: absolute;
    top: 0%;
    right: 1%;
}

/* Aricle container */
.article {
    position: relative;
    max-width: 3000px;
    width: 70%;
    padding-bottom: 30px;
    left: 15%;
}

/*Article Skin */
.articleSkin {
    background: $highlight_black;

}

/* whitespace container to displace the first article from behind headbar */
.whitespace {
    height: 6vh;
    position: relative;
    left:5%;
    width: 90%;
}
