/* Background should be a lighter color than the head bars are */
body {
  background-color: #252525;
  margin: 0px; }

li {
  list-style-type: none; }

/* For the fixed menu bar. Makes it static too */
.headbar {
  position: fixed;
  width: 100%;
  height: 5vh; }

/* Mostly used with header bars, but its a pretty open class */
.highlight_black {
  background-color: #121212; }

/* Font for emphasis or titles, not body */
.headerFont {
  font-family: Millenia;
  font-size: 2vh;
  color: #AE0000; }

/* Logo text in the menu bar */
.logo {
  position: absolute;
  left: 3%;
  top: -5%; }

/* Pic of logo in front of text */
.logoPic {
  position: absolute;
  top: .5vh;
  height: 4vh;
  left: 1%; }

/* Menu items position */
.menuOption {
  float: right;
  margin-right: .8vw; }

/* Aricle container */
.article {
  position: relative; }
