$background_grey: #252525;
$highlight_black: #121212;
$highlight: #AE0000;

body {
    background-color: $background_grey;
    margin: 0px;
}

li {
    list-style-type: none;
}

.headbar {
    position: fixed;
    width: 100%;
    height: 5vh;
}

.background {
    background-color: $highlight_black;
}

.menuFont{
    font-family: Millennia;
    font-size: 2vh;
}

.logo {
    color: $highlight;
    position: absolute;
    left: 3%;
    top: -5%;
}

.logoPic {
    position: absolute;
    top: .5vh;
    height:4vh;
    left: 1%;
}

.menuOption {
    float:right;
    color: $highlight;
    margin-right: .8vw;
}

 