$background_grey: #333333;
$highlight_black: #111111;

body {
    background-color: $background_grey;
    margin: 0px;
}

.headbar {
    background-color: $highlight_black;
    position: static;
    width: 100%;
    height: 1vh;
}